body{
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.maincontainer{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.maincontainer .header{
    text-align: center;
    color: #fff;
    max-width: 800px;
}
.maincontainer .header h1{
    font-size: 30px;
    font-weight: 500;
}
.lscontainer{
    width: 30%;
    min-height: 200px;
    padding: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
.lscontainer .loginbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lscontainer .loginbox .inputform{
    position: relative;
    width: 100%;
}
.lscontainer .loginbox .inputform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.lscontainer .loginbox .inputform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.lscontainer .loginbox .inputform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    pointer-events: none;
    transition: .5s;
    color: #333;
}
.lscontainer .loginbox .inputform .inputbox input:focus ~ span,
.lscontainer .loginbox .inputform .inputbox input:valid ~ span{
    font-size: 10px;
    transform: translateY(-15px);
}
.lscontainer .loginbox .inputform .inputbox input[type="submit"]{
    width: 100%;
    background: royalblue;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.lscontainer .loginbox .lgbutton{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.lscontainer .loginbox form p{
    font-size: 16px;
    text-align: center;
}
.lscontainer .loginbox .lgbutton .buttonbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lscontainer .loginbox .lgbutton .buttonbox a{
    text-decoration: none;
}